<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="/css/bootstrap-utilities.css" rel="stylesheet">

    <style>
        /* Estilos personalizados */
        @import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

        /* Estilos para el aside */
        aside {
            background-color: #E3B7A0;
            color: #BF9270;
            padding: 20px;
            height: 100vh;
        }

        /* Estilos para el footer */
        footer {
            background-color: #FFEDDB;
            color: #BF9270;
            padding: 20px 0;
            text-align: center;
        }

        footer p {
            font-size: 3vh;
        }

        nav {
            background-color: #E3B7A0;
            font-size: 3.2vh;
        }

        article {
            background-color: #EDCDBB;
        }

        ul {
            list-style: none;
        }

        .box {
            border: 1px solid #000; /* Borde negro */
            width: 250px; /* Ancho deseado */
            height: 250px; /* Altura deseada */
            margin: 5px; /* Margen entre las cajas */
            display: flex; /* Activar flexbox */
            justify-content: center; /* Centrar contenido horizontalmente */
            align-items: center; /* Centrar contenido verticalmente */
        }

        .checkbox-wrapper input[type="checkbox"] {
            visibility: hidden;
            display: none;
        }

        .checkbox-wrapper *,
        .checkbox-wrapper ::after,
        .checkbox-wrapper ::before {
            box-sizing: border-box;
            user-select: none;
        }

        .checkbox-wrapper {
            position: relative;
            display: block;
            overflow: hidden;
        }

        .checkbox-wrapper .label {
            cursor: pointer;
        }

        .checkbox-wrapper .check {
            width: 50px;
            height: 50px;
            position: absolute;
            opacity: 0;
        }

        .checkbox-wrapper .label svg {
            vertical-align: middle;
        }

        .checkbox-wrapper .path1 {
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
            transition: .5s stroke-dashoffset;
            opacity: 0;
        }

        .checkbox-wrapper .check:checked + label svg g path {
            stroke-dashoffset: 0;
            opacity: 1;
        }
        .card {
            width: 200px;
            margin-bottom: 20px;
        }

        .card-img-top {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
</head>
<body>

<!-- Incluir el encabezado compartido -->
<div th:replace="header :: header"></div>

<div class="container-fluid">
    <div class="row">
        <!-- Aside en la parte izquierda -->
<!--        <aside class="col-md-3 p-4 d-flex flex-column  align-items-center ">-->
<!--            &lt;!&ndash; Agregando la clase p-4 para el margen &ndash;&gt;-->

<!--            <div>-->
<!--                <nav class="navbar">-->
<!--                    <div class="container-fluid m-2">-->
<!--                        <form class="d-flex" role="search">-->
<!--                            <input class="form-control me-2" type="search" placeholder="Introduce un título" aria-label="Búsqueda">-->
<!--                            <button class="btn btn-outline-success" type="submit">Buscar</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </nav>-->
<!--            </div>-->

<!--            <div class="m-2 w-75">-->
<!--                <h4>Listas</h4>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check3-61">-->
<!--                    <label for="check3-61" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Usuario</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check3-62">-->
<!--                    <label for="check3-62" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Número Lista</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check3-63">-->
<!--                    <label for="check3-63" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Nombre Listas</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check3-64">-->
<!--                    <label for="check3-64" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Cantidad de Libros</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="m-2 w-75">-->
<!--                <h4>Usuario</h4>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check2-61">-->
<!--                    <label for="check2-61" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Nombre usuario</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check2-62">-->
<!--                    <label for="check2-62" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Fecha Registro</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check2-63">-->
<!--                    <label for="check2-63" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>NºListas</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check2-64">-->
<!--                    <label for="check2-64" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Fecha</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="m-2 w-75">-->
<!--                <h4>Libros</h4>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check1-61">-->
<!--                    <label for="check1-61" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Titulo</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check1-62">-->
<!--                    <label for="check1-62" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Genero</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check1-63">-->
<!--                    <label for="check1-63" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Autor</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check1-64">-->
<!--                    <label for="check1-64" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Año de publicación</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--                <div class="checkbox-wrapper">-->
<!--                    <input checked type="checkbox" class="check" id="check1-65">-->
<!--                    <label for="check1-65" class="label">-->
<!--                        <svg width="45" height="45" viewBox="0 0 95 95">-->
<!--                            <rect x="30" y="20" width="50" height="50" stroke="black" fill="none"></rect>-->
<!--                            <g transform="translate(0,-952.36222)">-->
<!--                                <path d="m 56,963 c -102,122 6,9 7,9 17,-5 -66,69 -38,52 122,-77 -7,14 18,4 29,-11 45,-43 23,-4" stroke="black" stroke-width="3" fill="none" class="path1"></path>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <span>Editorial</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </aside>-->


        <!-- Contenido principal para libros -->
        <div class="col-lg-9">
            <div class="container">
                <div class="row card-container">
                    <div th:each="libro : ${libros}" class="col-md-4 col-lg-2 mb-4">
                        <div class="card">
                            <img th:src="@{'/imagenes/Imagenes_libros/' + ${libro.id_libros} + '.jpg'}" class="card-img-top" alt="Portada del libro">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${libro.titulo}">Título del libro</h5>
                                <p class="card-text">Autor: <span th:text="${libro.autor}">Autor del libro</span></p>


                                <a href="#" class="btn btn-primary" th:attr="data-id=${libro.id_libros}" data-bs-toggle="modal" data-bs-target="#modificarLibroModal">Modificar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controles de Paginación -->
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:class="${paginaActual == 0} ? 'disabled'">
                            <a class="page-link" th:href="@{/listado(pagina=0, sortBy=${sortBy}, sortOrder=${sortOrder})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="num : ${#numbers.sequence(0, totalPaginas - 1)}" class="page-item" th:classappend="${num == paginaActual} ? 'active'">
                            <a class="page-link" th:href="@{/listado(pagina=${num}, sortBy=${sortBy}, sortOrder=${sortOrder})}" th:text="${num + 1}"></a>
                        </li>
                        <li class="page-item" th:class="${paginaActual == totalPaginas - 1} ? 'disabled'">
                            <a class="page-link" th:href="@{/listado(pagina=${totalPaginas - 1}, sortBy=${sortBy}, sortOrder=${sortOrder})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        <!-- Footer -->
        <footer class="row d-flex vh-15">
            <div class="d-flex justify-content-center">
                <p id="frase"></p>
            </div>
        </footer>
    </div>
</div>

<!-- Scripts de Bootstrap y JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/footer.js"></script>

</body>
</html>
