<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administración</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
    body{
        background-color: #BF9270;
        font-family: 'Caesar Dressing', cursive;
    }

    header{
        background-color: #FFEDDB;
    }
    nav {
        background-color: #E3B7A0;
        font-size: 3.2vh;
    }
</style>
<body>

<header>
    <nav class="navbar navbar-expand-lg p-4">
        <div class="container-fluid">
            <div class="navbar-collapse" id="navbarNav">
                <img class="align-self-lg-start" src="/imagenes/logo.png" alt="Logo" width="200" height="200">
                <ul class="navbar-nav w-100 d-flex justify-content-around ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/usuarios">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/listado">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Mis Datos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container mt-4"> <!-- Agregamos un margen superior para separar el carrusel del encabezado -->
    <h4>"Entra libremente y por tu propia voluntad y deja parte de la felicidad que traes contigo" ("Drácula", Bram Stoker)</h4>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/imagenes/carrusel1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/imagenes/carrusel2.jpg"  class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/imagenes/carrusel3.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
