<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Libros</title>
</head>
<body>
<h1>Lista de Libros</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Género</th>
        <th>Autor</th>
        <th>Año de Publicación</th>
        <th>Editorial</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre la lista de libros -->
    <tr th:each="libro : ${libros}">
        <!-- Mostrar los detalles de cada libro -->
        <td th:text="${libro.idLibros}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.genero}"></td>
        <td th:text="${libro.autor}"></td>
        <td th:text="${libro.anoPublicacion}"></td>
        <td th:text="${libro.editorial}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
