<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuario</title>
    <!-- Enlace a Bootstrap CSS -->
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-grid.css" rel="stylesheet">
    <link href="/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="/css/bootstrap-utilities.css" rel="stylesheet">
    <!-- Estilos personalizados -->
    <style>

        /* Estilos para la tabla */
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
            text-align: center;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #BF9270; /* Marrón medio */
        }


        /* Estilos para filas alternas */
        tr:nth-child(even) {
            background-color: #E3B7A0; /* Melocotón claro */
        }

    </style>
</head>
<body>

<!-- Incluir el encabezado compartido -->
<div th:replace="header :: header"></div>

<div class="container" style="width: 90%;">

    <div class="container my-4">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearUsuarioModal">
            Crear Nuevo Usuario
        </button>
    </div>

    <h1 class="text-center mb-4">Lore Librarian</h1>
    <div class="container table-responsive">
        <table class="table table-striped mx-auto">
            <thead>
                <tr class="text-center active">
                    <th class="text-center" style="background-color: #BF9270">Nombre</th>
                    <th class="text-center" style="background-color: #BF9270">Contraseña</th>
                    <th class="text-center" style="background-color: #BF9270">Rol</th>
                    <th class="text-center" style="background-color: #BF9270">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr th:each="usuario : ${listaUsuarios}">
                    <td th:text="${usuario.nombre}" class="text-center"></td>
                    <td th:text="${usuario.contrasena}" class="text-center"></td>
                    <td th:text="${usuario.rol.nombre_rol}" class="text-center"></td>
                    <td class="text-center">
                        <div class="btn-group" role="group" aria-label="Acciones">
                            <button type="button" title="Modificar usuario" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modificarUsuarioModal" th:attr="data-id=${usuario.id_usuario}">
                                Modificar
                            </button>

                            <form th:action="@{'/eliminarUsuario/' + ${usuario.id_usuario}}" method="post" onsubmit="return confirm('¿Estás seguro de que quieres eliminar este usuario?');">
                                <button type="submit" class="btn btn-danger" title="Eliminar usuario">X</button>
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Controles de Paginación -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:class="${paginaActual == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/usuarios(pagina=0)}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="num : ${#numbers.sequence(0, totalPaginas - 1)}" class="page-item" th:classappend="${num == paginaActual} ? 'active'">
                    <a class="page-link" th:href="@{/usuarios(pagina=${num})}" th:text="${num + 1}"></a>
                </li>
                <li class="page-item" th:class="${paginaActual == totalPaginas - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/usuarios(pagina=${totalPaginas - 1})}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<!-- Modales -->
<!-- Modal crear usuario -->
<div class="modal fade" id="crearUsuarioModal" tabindex="-1" aria-labelledby="crearUsuarioModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearUsuarioModalLabel">Crear Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/agregarUsuario}" th:object="${nuevoUsuario}" method="post">
                    <div class="mb-3">
                        <label for="nombreUsuario" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreUsuario" th:field="*{nombre}" required>
                    </div>
                    <div class="mb-3">
                        <label for="contrasenaUsuario" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenaUsuario" th:field="*{contrasena}"
                               required>
                    </div>
                    <div class="mb-3">
                        <label for="rolUsuario" class="form-label">Rol</label>
                        <select class="form-select" id="rolUsuario" name="rol.id_rol" required>
                            <option th:each="rol : ${listaRoles}" th:value="${rol.id_rol}" th:text="${rol.nombre_rol}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Crear Usuario</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal de modificar usuario -->

<div class="modal fade" id="modificarUsuarioModal" tabindex="-1" aria-labelledby="modificarUsuarioModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modificarUsuarioModalLabel">Modificar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/modificarUsuario}" th:object="${usuarioModificado}" method="post">
                    <input type="hidden" id="idUsuario" name="id_usuario" th:value="${usuarioModificado.id_usuario}" />
                    <div class="mb-3">
                        <label for="nombreUsuario2" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="nombreUsuario2" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="contrasenaUsuario2" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="contrasenaUsuario2" name="contrasena" required>
                    </div>
                    <div class="mb-3">
                        <label for="rolUsuario2" class="form-label">Rol</label>
                        <select class="form-select" id="rolUsuario2" name="rol.id_rol" required>
                            <option th:each="rol : ${listaRoles}"
                                    th:value="${rol.id_rol}"
                                    th:text="${rol.nombre_rol}"
                                    th:selected="${usuario != null and usuario.rol != null and rol.id_rol == usuario.rol.id_rol}">
                            </option>
                        </select>

                    </div>
                    <button type="submit" class="btn btn-primary">Modificar Usuario</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Scripts de Bootstrap -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let modificarUsuarioModal = document.getElementById('modificarUsuarioModal');
        modificarUsuarioModal.addEventListener('show.bs.modal', function (event) {
            let button = event.relatedTarget; //
            let id = button.getAttribute('data-id');


            fetch(`/modificarUsuario/${id}`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('idUsuario').value = data.id_usuario;
                    document.getElementById('nombreUsuario2').value = data.nombre;
                    document.getElementById('contrasenaUsuario2').value = data.contrasena;
                    document.getElementById('rolUsuario2').value = data.rol.id_rol;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        });
    });

</script>



</body>
</html>
